body {
  font-family: sans-serif;
  padding: 20px;
}

#header h1 {
  font-size: 35px;
  padding: 20px 0;
  text-align: center;
}

h2 {
  padding: 20px 0px;
  font-size: 28px;
}

h3 {
  font-size: 24px;
  margin-top: 10px;
}

p {
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 0px;
  cursor: pointer;
}

input {
  font-size: 18px;
  padding: 4px;
}

.btn {
  margin-top: 4px;
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
}

/* JQuery Effect
=====================
*/

.outer {
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  padding: 30px;
  background: #87ceeb;
  display: none;
}

.slide {
  background-color: #87ceeb;
  text-align: center;
  width: 50px;
  padding: 20px;
  border-radius: 50%;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #87ceeb;
}

.add-remove {
  background-color: #008080;
  border: 1px solid #000;
  width: 320px;
  padding: 50px;
}

.change-bg {
  background-color: #ff6347;
}

.remove-div {
  margin-top: 20px;
  border: 1px solid #000;
  padding: 50px;
}